.img-box {
  max-width:1400px;
}

.img-box > .section-1 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FboGmPl%2FbtracjJwWzl%2FXBEGLwL2O3uSHADW9BCvD1%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-1::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-2 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcCHUis%2Fbtq97Ow1MY2%2FIg39K9t2hdvMsvUHa34RJ1%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-2::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 485);
}

.img-box > .section-3 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F0NKaA%2Fbtq97PioUSs%2Fiv2WcK7tuhK4ycZjMSNOHK%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-3::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1225);
}

.img-box > .section-4 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fc76mAa%2FbtradKl9tIY%2FTN8lkNrFBVPl3839Bsk3yk%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-4::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1061);
}

.img-box > .section-5 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FByisC%2Fbtq93475arn%2Fb4rvo7zomUwNgMBxdKiR1K%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-5::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-6 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdAEG7o%2FbtracjW44tI%2FpBDlExCSf1KQ96eEdtxCE1%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-6::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-7 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbkxQDp%2FbtradJneF4z%2FUHUIAUnwlIUgJZzW6etK10%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-7::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1292);
}

.img-box > .section-8 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FkZhLy%2Fbtq97OqfwLE%2FbzGnTkFvIkk1TFb4kxak71%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-8::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1007);
}

.img-box > .section-9 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FoyKLO%2Fbtq98vxbAdL%2Fd3KJOkmcKZpolkkkOK0IB0%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-9::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2075);
}

.img-box > .section-10 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbeuJoy%2Fbtq99cYgVDM%2FHPQJAiftqFBolHlZ0TPSuk%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-10::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2985);
}

.img-box > .section-11 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbOC5UM%2Fbtrac9zFYoS%2FRwC7Y1Cdbob8w0QGGK7kn1%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-11::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-12 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbyJYig%2Fbtq99mNxuUw%2Fy0yt0zCzEKtKK186u118r0%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-12::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1595);
}