.img-box {
  max-width:1500px;
}

.img-box > .section-1 {
  height:auto;
  background-image:url();
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-color:rgba(255,182,0,1);
}

.img-box > .section-1::after {
  content:"";
  display:block;
  padding-top:calc(100% / 16 * 9);
}

.img-box > .section-2 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbSu983%2Fbtq91OcD5vF%2FaMZj3mPQKouTgRLO7mKWz1%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-2::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 485);
}

.img-box > .section-3 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FtjGbu%2Fbtq97nkDENd%2FRwwMV6tWePDTEo5kRKgHyK%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-3::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1225);
}

.img-box > .section-4 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdlrQwt%2Fbtq92xBRDhO%2FYKPhscnPGJdcdKcxDHk1E0%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-4::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1061);
}

.img-box > .section-5 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcvrHu7%2Fbtq90lhLifA%2FLVwPtIOQykX5hj2Ofk4Bw1%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-5::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-6 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FKcfp2%2Fbtq91mUCj2m%2FiMH8RKmY9MVkZAfirKRVpk%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-6::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-7 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbjIFDk%2Fbtq96Ez4ocm%2FX3FJ7gURiRVevAok4g6n4K%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-7::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1292);
}

.img-box > .section-8 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F6wCHe%2Fbtq91N5O4Is%2FChm2TOF552Xkx1y7n7rdAk%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-8::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1007);
}

.img-box > .section-9 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcKDrmR%2Fbtq93oR9NBP%2F8oDhefkiPzPZvH2xE7EnZ0%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-9::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2075);
}

.img-box > .section-10 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FS3HnE%2Fbtq98tELrUj%2FIukUNjT6utgJWEoOkQLNZK%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-10::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 2985);
}

.img-box > .section-11 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FDtd4I%2Fbtq91MMJGCO%2FbDswf3yZU5k27qeywjjqZk%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-11::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-12 {
  height:auto;
  background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbaqSYR%2Fbtq91pxAqcs%2FwixmtDlaJD6LKndYySQKgk%2Fimg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-12::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1595);
}